NEXT_PUBLIC_SUPABASE_URL=https://ihcbnxbyebbhxmcgvmxn.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gEp0D83nKcegNoOgfGqWiw_UODATMi4
SUPABASE_SERVICE_ROLE_KEY=sb_secret_KE2ePXBiI4Aw285Jv0PJYA_MPuy93Ms